main .container .calendar {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  max-width: 900px;
  z-index: -1;
}

main .container .calendar .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main .container .calendar .calendar-header .calendar-nav {
  display: flex;
  align-items: center;
}

main .container .calendar .calendar-header .calendar-nav .btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
}

main .container .calendar .calendar-header .calendar-nav .month-name {
  font-size: 18px;
  font-weight: 600;
  margin: 0 15px;
}
main .container .calendar .calendar-header .view-options .btn {
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 12px;
}
main .container .calendar .calendar-header .view-options .btn.active {
  background-color: var(--button-bg-color-Light);
  color: white;
}
main .container .calendar .days-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 10px 0;
}
main .container .calendar .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
main .container .calendar .calendar-grid .calendar-day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  min-height: 100px;
  position: relative;
  background: repeating-linear-gradient(
    45deg,
    #f8f9fa,
    #f8f9fa 5px,
    #fff 5px,
    #fff 10px
  );
}
main .container .calendar .calendar-grid .calendar-day.current-month {
  background: white;
}
main .container .calendar .calendar-grid .calendar-day .day-number {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 14px;
}
main .container .calendar .calendar-grid .calendar-day .shift {
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 4px;
  font-size: 12px;
  text-align: center;
  color: white;
  font-weight: 500;
}

main .container .calendar .calendar-grid .calendar-day .morning-shift {
  color: var(--active-text);
  background-color: var(--active-bg);
}

main .container .calendar .calendar-grid .calendar-day .night-shift {
  color: var(--waiting-text);
  background-color: var(--waiting-bg);
}

main .container .calendar .calendar-grid .calendar-day .weekend {
  color: var(--error-text);
  background-color: var(--error-bg);
}

main .container .calendar .calendar-header .today-btn {
  border: 1px solid #dee2e6;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
  font-size: 14px;
  color: #333;
}

