<form [formGroup]="personalForm">
  <div class="container d-flex flex-column gap-3 py-4 px-0 m-0">
    <div class="settings-container">
      <div class="tab-content">
        <div class="tab-pane fade show active" id="professional-tab">
          <div class="settings-card">
            <div class="mb-3">
              <label for="Specialization" class="form-label"
                >Specialization</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="Specialization"
              />
            </div>
            <div class="mb-3">
              <label for="ExperienceYears" class="form-label">Experience</label>
              <input
                type="text"
                class="form-control"
                formControlName="ExperienceYears"
              />
            </div>
            <div class="mb-3">
              <label for="LicenseNumber" class="form-label"
                >Medical License Number</label
              >
              <input
                type="text"
                class="form-control"
                formControlName="LicenseNumber"
              />
            </div>
            <div class="mb-3">
              <label for="Bio" class="form-label">About</label>
              <textarea class="form-control" formControlName="Bio"></textarea>
            </div>
          </div>
        </div>
        <div class="setting-btns d-flex gap-5 pt-4">
          <button type="button" class="btn Save-btn mt-3" (click)="onSubmit()">
            Save
          </button>
          <button
            type="button"
            class="btn Cancel-btn mt-3"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
