<main>
  <div class="container d-flex flex-column gap-3 pt-4 pb-4 pe-0 ps-0 m-0">
    <p class="fw-bold m-0">Settings</p>
    <ul class="setting-tabs d-flex justify-content-between m-0 p-0">
      <li class="setting-item">
        <a class="setting-link active">Personal</a>
      </li>
      <li class="setting-item">
        <a class="setting-link">Center</a>
      </li>
      <li class="setting-item">
        <a class="setting-link">Security</a>
      </li>
    </ul>
  </div>
  <div class="container settings-card mt-4">
    <div class="settings-header">Personal Information</div>
    <div class="form-group mb-3">
      <label class="form-label">Name</label>
      <input class="form-control" type="text"   />
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" type="email"   />
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Phone</label>
      <input class="form-control" type="text"  />
    </div>

    <div class="settings-header mt-4">Center Information</div>
    <div class="form-group mb-3">
      <label class="form-label">Center Name</label>
      <input class="form-control" type="text"  />
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Address</label>
      <input class="form-control" type="text"/>
    </div>
    <div class="settings-header mt-4">Security</div>
    <div class="form-group mb-3">
      <label class="form-label">New Password</label>
      <input class="form-control" type="password"  />
    </div>
    <div class="form-group mb-3">
      <label class="form-label">Confirm Password</label>
      <input class="form-control" type="password" />
    </div>
    <div class="setting-btns d-flex justify-content-end mt-4">
      <button class="btn">Save Changes</button>
    </div>
  </div>
</main>
