<div class="col-lg-12 col-md-8">
  <div class="content-wrapper">
    <!-- History Header -->
    <div class="section-header mb-4">
      <h4 class="section-title">
        <i class="fas fa-history me-2"></i>
        Appointments History
      </h4>
    </div>
    @if(loading) {
    <div class="loader-container">
      <p-progressSpinner ariaLabel="loading" animationDuration=".5s">
      </p-progressSpinner>
    </div>
    } @else {
    <div class="appointment-section d-flex flex-column gap-3">
      @for (appointment of AppointmentsHistory; track $index) {
      <div class="appointment-card history-appointment">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="doctor-image-container me-3">
              @if(appointment.ProviderImage &&
              !hasImageLoadFailed(appointment.AppointmentId.toString())){
              <img
                [src]="`${fullImagePath}${appointment.ProviderImage}`"
                alt="Doctor Image"
                class="doctor-image"
                (error)="
                  onImageError($event, appointment.AppointmentId.toString())
                "
              />
              }@else{
              <p-avatar
                icon="pi pi-user"
                class="mr-2 avatar-image"
                size="xlarge"
              />
              }
            </div>
            <div class="doctor-info">
              <h5 class="doctor-name">{{ appointment.ProviderName }}</h5>
              <div class="doctor-specialty">
                <i class="fas fa-user-md me-1"></i>
                {{ appointment.Specialization }}
              </div>
              <div class="rating-container">
                <div class="rating">
                  <p-rating
                    class="star pt-2 pb-2"
                    [(ngModel)]="appointment.ProviderRate"
                    [readonly]="true"
                  ></p-rating>
                </div>
                <span class="rating-text">{{ appointment.ProviderRate }}</span>
              </div>
              <div class="appointment-details d-flex flex-row gap-4 mt-2">
                <div class="detail-item">
                  <i class="fas fa-calendar me-1"></i>
                  <span>{{
                    appointment.AppointmentDate | date : "d-M-yyyy"
                  }}</span>
                </div>
                <div class="detail-item">
                  <i class="fas fa-clock me-1"></i>
                  <span>{{
                    appointment.EstimatedTime.toString()
                      | TimeStringToDate
                      | date : "hh:mm a"
                  }}</span>
                </div>
                <div class="detail-item">
                  <i class="fa-solid fa-house-chimney-medical"></i>
                  <span>{{
                    appointment.AppointmentStatus | AppointmentStatusEnumValue
                  }}</span>
                </div>
              </div>
            </div>
          </div>
          <div>
            <button
              class="btn btn-gradient-secondary appointment-btn text-start"
              [routerLink]="['/client/appointment', appointment.AppointmentId]"
            >
              <i class="fas fa-info-circle me-2"></i>
              Details
            </button>
          </div>
        </div>
      </div>
      }@empty{
      <div class="text-muted text-center">No appointment history found.</div>
      }
    </div>
    } @if(AppointmentsHistory.length > 0){
    <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
      <button
        class="btn main-btn-bg"
        (click)="previousPage()"
        [disabled]="!canGoPrevious"
      >
        Previous
      </button>
      <span class="current-page"
        >Page {{ currentPage }} of {{ totalPages }}</span
      >
      <button
        class="btn main-btn-bg"
        (click)="nextPage()"
        [disabled]="!canGoNext"
      >
        Next
      </button>
    </div>
    }
  </div>
</div>
