.avatar {
  width: clamp(60px, 8vw, 100px);
  height: clamp(60px, 8vw, 100px);
}

.bg-lightblue {
  background-color: #d7effb;
}

.bg-darkblue {
  background-color: #002f4b;
}

.appointment-card {
  transition: transform 0.2s ease;
}

.appointment-card:hover {
  transform: scale(1.01);
}

.NameHeader{
  font-size: clamp(2rem, 2.5vw, 1.8rem);
}

.btn-cust{
  color: #fff;
  background-color: #002f4b;
  border: none;
  border-radius: 5px;
}

.btn-cust:hover{
  background-color: #53a1ea !important;
  color: #002f4b !important;
}
