<main>
  <div class="container d-flex flex-column gap-3 py-4 px-0 m-0">
    <p class="fw-bold m-0">Profile</p>
    <!-- General Information -->
    <section class="general-info">
      <p class="fw-bold m-0">General Information</p>
      <div class="info-container p-4 d-flex align-items-center justify-content-center">
        <div class="profile-image me-4">
          <img src="/assets/default-profile.png" alt="Profile Image" />
        </div>
        <div class="info flex-grow-1 d-flex flex-column ps-4 gap-3">
          <div class="owner-name d-flex align-items-center gap-5">
            <span class="info-label">FullName</span>
            <span class="full-name">Mahmoud Abdo</span>
          </div>
          <div class="owner-email d-flex align-items-center gap-5">
            <span class="info-label">Email</span>
            <span class="email"></span>
          </div>
          <div class="owner-phone d-flex align-items-center gap-5">
            <span class="info-label">Phone</span>
            <span class="phone">011003432824</span>
          </div>
          <div class="owner-role d-flex align-items-center gap-5">
            <span class="info-label">Role</span>
            <span class="role">Operator</span>
          </div>
        </div>
      </div>
    </section>
    <!-- Center Information -->
    <section class="center-information">
      <p class="fw-bold m-0">Center Information</p>
      <div class="info-container p-4">
        <div class="info d-flex flex-grow-1 flex-column gap-3">
          <div class="center-name d-flex align-items-center gap-5">
            <span class="professional-info-label">Center Name</span>
            <span class="center">Aswan</span>
          </div>
          <div class="center-address d-flex align-items-center gap-5">
            <span class="professional-info-label">Address</span>
            <span class="address">123 Main St, Aswan Egypt</span>
          </div>
        </div>
      </div>
    </section>
    <!-- Bio -->
    <section class="bio">
      <p class="fw-bold m-0">Bio</p>
      <div class="info-container p-4">
        <div class="info">This is a static owner bio. You can add more details about the owner here.</div>
      </div>
    </section>
  </div>
</main>
