    <footer class="footer d-flex align-items-center p-3">
      <div class="container d-flex justify-content-between align-items-center">
        <div class="copyright">
          <i class="fa-regular fa-copyright"></i>
          <span class="copy-right-year">2025</span> Dorak. All Rights Reserved.
        </div>
        <div class="links d-flex align-items-center">
          <ul
            class="d-flex justify-content-center align-items-center gap-5 m-0"
          >
            <li><a [routerLink]= "['/contact-us']" [routerLinkActive]="['router-link-active']" >Contact Us</a></li> 
            <li><a [routerLink]="['/Help-Support']" [routerLinkActive]="['router-link-active']">Help - Support</a></li>
            <li><a [routerLink]="['/terms-conditions']" [routerLinkActive]="['router-link-active']">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </footer>