
    <p class="fw-bold m-0 client-notifications">Notifications</p>
    <div
      class="notifications-list py-2 d-flex flex-column gap-2"
    >
      @for(notification of notifications; track $index){
      <div class="notification-item d-flex flex-column gap-2">
        <div class="notification-header d-flex justify-content-between">
          <span class="notification-title fw-bold">{{ notification.Title }}</span>
          <span class="notification-date">
            {{ notification.CreatedAt | date : "MMMM d, y" }}
          </span>
        </div>
        <p class="notification-message m-0">{{ notification.Message }}</p>
      </div>
      } @empty {
      <span class="no-found-notifications">
        No Notifications Found
      </span>
      }@if(notifications.length > 0){
        <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
          <button
            class="btn main-btn-bg"
            (click)="previousPage()"
            [disabled]="!canGoPrevious"
          >
            Previous
          </button>
          <span class="current-page"
            >Page {{ currentPage }} of {{ totalPages }}</span
          >
          <button
            class="btn main-btn-bg"
            (click)="nextPage()"
            [disabled]="!canGoNext"
          >
            Next
          </button>
        </div>
        }
    </div>

