<h1 class="page-title">View Operators</h1>

<!-- Search Bar -->
<div class="search d-flex gap-3 mb-1 mt-3">
  <div class="search-container d-flex align-items-center pe-3 ps-3 flex-grow-1">
    <i class="fa-solid fa-magnifying-glass"></i><input [(ngModel)]="searchTerm" type="text" placeholder="Search by name..." (ngModelChange)="onSearchChange()" />
  </div>
</div>

<div class="content-wrapper d-flex flex-column flex-grow-1">
  <div class="doctors-table my-3 flex-grow-1">
      <table class="table table-hover align-middle mb-0">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>NAME</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let operator of paginatedOperators; let i = index">
                  <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                  <td>{{ operator.FirstName + ' ' + operator.LastName }}</td>
                  <td><button class="btn btn-danger" (click)="DeleteOperator(operator.OperatorId, $event)">Delete</button></td>
              </tr>
          </tbody>
      </table>
  </div>

  <div class="pagination-container ms-5">
      <div class="showing-text">
          Showing {{ (currentPage - 1) * pageSize + 1 }}-{{ getPaginationEndIndex() }} of {{ filteredOperators.length }}
      </div>
      <div class="pagination-buttons d-flex">
          <button class="pagination-btn" aria-label="Previous page" (click)="goToPreviousPage()"
              [disabled]="currentPage === 1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                      d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
          </button>
          <button class="pagination-btn" aria-label="Next page" (click)="goToNextPage()"
              [disabled]="currentPage === totalPages">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-chevron-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                      d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
          </button>
      </div>
  </div>
</div>
