<div class="px-0 m-0 d-flex justify-content-center align-items-center">
  <div class="card shadow-sm border-0 rounded-4 p-4 w-100">
    <div class="border-bottom pb-4 mb-4">
      <span class="fw-bold fs-5 main-text-Color"
        ><i class="fas fa-lock me-2" style="color: #2a6f97"></i>Change
        Password</span
      >
    </div>
    <form [formGroup]="personalForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="OldPassword" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="OldPassword"
          formControlName="OldPassword"
        />
      </div>
      <div class="mb-3">
        <label for="NewPassword" class="form-label">New Password</label>
        <input
          type="password"
          class="form-control"
          id="NewPassword"
          formControlName="NewPassword"
        />
      </div>
      <div class="mb-3 form-check">
        <!-- <input type="checkbox" class="form-check-input" id="logoutAll" />
        <label class="form-check-label main-text-Color" for="logoutAll">
          Logout from All Devices
        </label> -->
      </div>
      <div class="d-flex justify-content-end gap-3 mt-4">
        <button
          type="submit"
          class="btn main-btn-bg px-4 text-white fw-semibold btn-update"
        >
          <i class="fas fa-save me-2"></i>Save
        </button>
        <button
          type="button"
          class="btn main-btn-bg px-4 text-white fw-semibold btn-update"
          (click)="onCancel()"
        >
          <i class="fas fa-times me-2"></i>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
