<form [formGroup]="CreateAppointmentForm">
  <div class="ClientInfo d-flex space-between gap-3 mt-4 mb-3">
    <p-floatlabel variant="on">
      <input pInputText id="firstName" formControlName="FirstName" autocomplete="off" />
      <label for="firstName" class="ms-3">First Name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="lastName" formControlName="LastName" autocomplete="off" />
      <label for="lastName" class="ms-3">Last Name</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <input pInputText id="contactInfo" formControlName="ContactInfo" autocomplete="off" />
      <label for="contactInfo" class="ms-3">Contact Info</label>
    </p-floatlabel>
  </div>

  <div class="filteration d-flex space-between align-items-center gap-3">
    <p class="m-0 dt">Filter by:</p>

    <div class="p-fluid card flex flex-wrap gap-4">
      <div class="flex-auto">
        <p-datepicker formControlName="AppointmentDate" inputId="appointmentDate" [iconDisplay]="'input'"
          [showIcon]="true" dateFormat="yy-mm-dd" [minDate]="today" (onSelect)="filterRecords()"
          (onClear)="filterRecords()"></p-datepicker>
      </div>
    </div>

    <div class="card flex align-items-center gap-2">
      <label for="serviceInput" class="fw-bold mb-2">Service</label>
      <p-autoComplete inputId="serviceInput" formControlName="ServiceId" [dropdown]="true"
        [suggestions]="filteredServices" field="ServiceName" (completeMethod)="searchServices($event)"
        [forceSelection]="true" [(ngModel)]="selectedService" (onSelect)="onServiceSelect($event)"
        (onClear)="onClearService()" placeholder="Select Service" styleClass="w-100">
        <ng-template let-service pTemplate="item">
          <div>
            {{ service.ServiceName }} ({{ service.BasePrice | currency:'USD':'symbol':'1.2-2' }})
          </div>
        </ng-template>
      </p-autoComplete>
    </div>

    <div>
      <label>Provider</label>
      <select formControlName="ProviderId" (change)="filterRecords()">
        <option [ngValue]="null">Select Provider</option>
        <option *ngFor="let Provider of ProviderName" [value]="Provider">
          {{ Provider }}
        </option>
      </select>
    </div>
    <button type="button" class="view-doc-profile" (click)="clearFilters()">
      Clear Filters
    </button>
  </div>

  <div class="doctors-table my-3">
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Provider Name</th>
          <th>Shift Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Fees</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of paginatedRecords; let i = index">
          <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
          <td>{{ record.ProviderName }}</td>
          <td>{{ record.ShiftDate }}</td>
          <td>{{ record.StartTime }}</td>
          <td>{{ record.EndTime }}</td>
          <td>{{ record.Services[0].BasePrice }}</td>
          <td>
            <button type="button" class="view-doc-profile" data-bs-toggle="modal" data-bs-target="#confirmationModal"
              (click)="bookNow(record)">
              Book Now
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>

<div class="pagination-container ms-5 my-3">
  <div class="showing-text">
    Showing {{ (currentPage - 1) * pageSize + 1 }} -
    {{ getPaginationEndIndex() }} of {{ filteredRecords.length }}
  </div>
  <div class="pagination-buttons d-flex">
    <button class="pagination-btn" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
      </svg>
    </button>

    <button class="pagination-btn" (click)="goToNextPage()" [disabled]="currentPage === totalPages">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
      </svg>
    </button>
  </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Appointment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to confirm this appointment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancelBooking()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" (click)="confirmBooking()">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>