<form [formGroup]="CreateAppointmentForm" (ngSubmit)="HandleSubmitForm()">
  <div class="ClientInfo d-flex space-between gap-3 my-3">
    <div>
      <label>Contact Info</label>
      <input type="text" formControlName="ContactInfo" />
    </div>

    <div>
      <label>First Name</label>
      <input type="text" formControlName="FirstName" />
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" formControlName="LastName" />
    </div>
  </div>

  <div class="filteration d-flex space-between gap-3">
    <h6>Filter by:</h6>

    <div>
      <label>Appointment Date</label>
      <input type="date" formControlName="AppointmentDate" />
    </div>
    <div>
      <label>Service</label>
      <select formControlName="ServiceId">
        <option value="">Select Service</option>
        <!-- <option *ngFor="let service of services" [value]="service.id">{{ service.name }}</option> -->
      </select>
    </div>
  </div>

  <div class="doctors-table my-3">
  <table>
    <thead>
      <tr>
        <th>No.</th>
        <th>NAME</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of Records; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ operator.OperatorId }}</td>
        <td>{{ operator.FirstName + ' ' + operator.LastName }}</td>
        <td><button class="view-doc-profile" (click)="DeleteOperator(operator.OperatorId)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
</form>