.settings-container {
  width: 50%;
}
.settings-header {
  color: var(--text-color-Light);
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 24px;
}
.setting-tabs {
  border-top: 2px solid var(--text-color-Light);
}
.setting-link {
  color: var(--text-color-Light);
  font-weight: 500;
  font-size: 1.5rem;
}
.setting-link.active {
  color: var(--text-color-Light) !important;
  background-color: transparent !important;
  border-top: 4px solid var(--text-color-Light);
}
.settings-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-label {
  color: #4a5568;
  font-weight: 500;
}
.form-control {
  border-radius: 4px;
  padding: 10px;
  background-color: #f5f7fa;
  border: 1px solid var(--border-color);
}
.theme-toggle {
  display: flex;
  gap: 10px;
}
.theme-btn.active {
  background-color: var(--text-color-Light);
  color: white;
}
.language-toggle {
  display: flex !important;
  gap: 1px !important;
  margin-bottom: 20px !important;
}
.language-btn:first-child {
  color: var(--text-color-Light);
  background-color: var(--bg-color-Light);
  border-radius: 0.8rem 0 0 0.8rem;
  width: 2.5rem;
  height: 2.5rem;
}
.language-btn:last-child {
  color: var(--side-bar-text-color-Light);
  background-color: var(--button-bg-color-Light);
  border-radius: 0 0.8rem 0.8rem 0;
  width: 2.5rem;
  height: 2.5rem;
}
.language-btn.active {
  background-color: var(--button-bg-color-Light);
  color: #edf1f2;
}
.setting-btns button {
  background-color: var(--button-bg-color-Light);
  color: white;
  border-radius: var(--border-radius);
}
.tab-content > .tab-pane {
  display: block;
}

.display-mode .dark-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.9rem;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid var(--button-bg-color-Light);
  border-radius: 12px 0 0 12px;
}
.display-mode .light-mode {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.9rem;
  height: 2.5rem;
  background-color: var(--button-bg-color-Light);
  border: 1px solid var(--button-bg-color-Light);
  border-radius: 0 12px 12px 0;
}
