<body>
  <div class="container mt-4">
    <div class="container-card">
      <!-- Doctor Profile -->
      <img src="./Assest/img/doctor Profile.png" alt="Doctor" class="profile-image" />
      <h5 class="fw-bold mt-2">Mohamed Ahmed</h5>
      <p class="text-muted">Specialization: Cardiologist</p>

      <hr />

      <!-- Live Status Updates -->
      <div class="container mt-4">
        <h6 class="fw-bold status-text">Live status updates</h6>
        <div class="status-container">
          <img [src]="clientInfo.Image" alt="Doctor Illustration" class="illustration" />
          <div class="w-100">
            <div class="status-bar">
             <div class="circle">{{ clientInfo?.Name }}

             </div>
             <div *ngFor="let item of LiveQueues">
             <div [ngClass]="item.IsCurrentClient ? 'current-client-style' : ''">
             <div *ngIf="item.IsCurrentClient">
            </div>
            </div>
             </div>
            <div class="circle">{{ getCurrentNumber() }}</div>

            </div>
            <div class="status-labels">
              <span class="w-33">My Number</span>
              <span class="w-33">Attend in Clinic</span>
              <span class="w-33">Current Number</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Estimated Waiting Time -->
      <h6 class="fw-bold text-start mt-4">Live Estimated Waiting Time</h6>
      <div class="progress-bar-container mt-2">
        <div class="progress-bar-fill" [style.width.%]="waitingProgress"></div>
      </div>
      <p class="mt-1 text-end">{{ estimatedTime }}</p>

     <h6 class="fw-bold text-start mt-4">Live QUEUE:</h6>

<div *ngFor="let item of LiveQueues; trackBy: trackByFn"
     class="queue-card"
     [class.done]="item.Status === QueueAppointmentStatus.Completed"
     [class.waiting]="item.Status === QueueAppointmentStatus.Waiting"
     [class.in-progress]="item.Status === QueueAppointmentStatus.InProgress"
     [class.not-checked]="item.Status === QueueAppointmentStatus.NotChecked">
   
  <div class="d-flex align-items-center">
<img [src]="item.IsCurrentClient ? fullImagePath : 'assets/images/default-user.png'"
     alt="User"
     height="50"
  />
    <p class="mb-0 ms-5 fw-bold">
      {{ item.IsCurrentClient ? clientInfo.Name : 'Anonymous' }}
    </p>
  </div>

  <span>{{ getStatusText(item.Status) }}</span>
  <span class="fw-bold">{{ item.CurrentQueuePosition }}</span>
</div>
    </div>
  </div>
</body>

