<div
  class="booking bg-white main-padding main-radius text-white d-flex flex-column gap-3"
>
  <div class="info d-flex flex-column gap-3 pb-3">
    <div class="center-list main-bg text-center main-radius">
      <p-select
        class="center-dropdown"
        [options]="centerServices"
        [(ngModel)]="selectedCenterId"
        optionLabel="CenterName"
        optionValue="CenterId"
        (onChange)="showCenterServicesAndBookings()"
        placeholder="Choose Center"
        class="w-full md:w-56"
      />
    </div>
    <div class="service-list main-bg main-radius text-center">
      <p-select
        class="service-dropdown"
        [options]="services"
        [(ngModel)]="selectedServiceId"
        optionLabel="ServiceName"
        optionValue="ServiceId"
        (onChange)="showPriceAndDuration()"
        placeholder="Choose Service"
        class="w-full md:w-56"
      />
    </div>
    <div class="service-info d-flex flex-column justify-content-between">
      <p class="fees main-text-Color fw-bold">
        Fees: {{ price | currency : "EGP " : "symbol" : "1.2-2" }}
      </p>
      <p class="duration main-text-Color fw-bold">
        Duration: {{ duration }} Min
      </p>
    </div>
    <div
      class="location d-flex justify-content-between align-items-center text-center"
    >
      <div
        class="icon main-text-Color fw-bold d-flex align-items-center justify-content-center gap-4"
      >
        <i class="fa-solid fa-location-dot fa-2x side-icon-color"></i>
        Location
      </div>
      <button type="button" class="btn text-white main-bg" (click)="openMap()">
        On Maps
      </button>
    </div>
  </div>
  <div class="book">
    <p class="main-text-Color text-center fw-bold">Choose your appointment</p>
    <p-carousel
      class="pcar"
      [value]="originalBookings"
      [numVisible]="1"
      [numScroll]="1"
    >
      <ng-template let-appointment #item>
        <div class="appointment m-2">
          <div class="main-bg">
            <div class="date main-text-Color text-white text-center p-2">
              {{ appointment?.Date | date : "EE, d MMM" }}
            </div>
          </div>
          <div
            class="d-flex justify-content-between gap-2 font-medium main-text-Color text-center shift-time pt-4 pb-4 ps-3 pe-3"
          >
            <div class="start-time d-flex flex-column justify-content-between">
              <span class="duration-indicator">From</span>
              {{ appointment?.StartTime | TimeStringToDate | date : "h:mm a" }}
            </div>
            <div class="end-time d-flex flex-column justify-content-between">
              <span class="duration-indicator">To</span>
              {{ appointment?.EndTime | TimeStringToDate | date : "h:mm a" }}
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button
              pRipple
              type="button"
              class="book-btn text-white p-2 text-center"
              (click)="makeAppointment(appointment?.Date, appointment?.ShiftId)"
            >
              Book
            </button>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
