.side-icon-color {
  color: #2a6f97;
}
.booking {
  min-height: 85vh;
}
.info {
  border-bottom: 2px solid #012a4a;
}
.book-btn {
  width: 100%;
  background-color: var(--error-text);
}
.book-btn:hover {
  background-color: var(--error-text);
}
.shift-time {
  background-color: var(--bg-color-Light);
}
.duration-indicator {
  font-size: 0.8rem;
}
::ng-deep .p-button {
  background-color: #2a6f97 !important;
  padding: 0.2rem !important;
}
::ng-deep .p-button .p-icon {
  color: white !important;
}
::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #2a6f97 !important;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

:host ::ng-deep .p-progress-spinner {
  width: 50px;
  height: 50px;
}

:host ::ng-deep .p-progress-spinner-circle {
  stroke: var(--primary-color);
}
