.side-icon-color {
  color: #2a6f97;
}
.info {
  border-bottom: 2px solid #012a4a;
}
.book-btn {
  width: 100%;
  background-color: var(--error-text);
}
.book-btn:hover {
  background-color: var(--error-text);
}
.shift-time {
  background-color: var(--bg-color-Light);
}
.duration-indicator {
  font-size: 0.8rem;
}
::ng-deep .p-button {
  background-color: #2a6f97 !important;
  padding: 0.2rem !important;
}
::ng-deep .p-button .p-icon {
  color: white !important;
}
::ng-deep .p-select {
  border: 2px solid #012a4a !important;
  width: 100% !important;
}
::ng-deep .p-select:hover {
  border: 2px solid #012a4a !important;
}
::ng-deep .p-select-label {
  width: 100% !important;
  color: #012a4a !important;
}
::ng-deep .p-select-dropdown {
  border-start-end-radius: 0 !important;
  border-start-start-radius: 0 !important;
  border-end-end-radius: 0 !important;
  border-end-start-radius: 0 !important;
}
::ng-deep .p-iconwrapper {
  color: #012a4a !important;
}
::ng-deep .p-select-label.p-placeholder {
  color: #012a4a !important;
}
::ng-deep .p-select-list-container {
  padding: 0.5rem !important;
  background-color: white !important;
  color: #2a6f97 !important;
}
::ng-deep .p-select-option.p-select-option-selected {
  background-color: #2a6f97 !important;
  color: white !important;
}
::ng-deep .p-carousel-indicator-active .p-carousel-indicator-button {
  background-color: #2a6f97 !important;
}
