.reviews {
  min-height: 100%vh;
}
.review-container {
  background-color: #edf1f2;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.2s;
}

.review-container:hover {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
}
