.filter {
  width: fit-content;
  background-color: white;
  border: 1px solid var(--button-bg-color-Light);
  border-radius: var(--border-radius);
}
.filter > div {
  color: var(--text-color-Light);
}
.filter > div:not(:last-child) {
  border-right: 1px solid var(--button-bg-color-Light);
}
.filter .reset-filter p {
  color: #ea0234;
}

::ng-deep .p-iconwrapper {
  color: #012a4a !important;
}
::ng-deep .p-select {
  border: 1px solid var(--p-select-overlay-border-color) !important;
}
::ng-deep .p-select-label.p-placeholder {
  color: #012a4a !important;
}
::ng-deep .p-select:hover {
  border: 1px solid var(--p-select-overlay-border-color) !important;
}
