
:host {
  display: block;
  font-family: var(--font-body);
  padding: var(--padding);
  color: var(--text-color-Light);
}

.loading,
.error-message,
.no-data {
  text-align: center;
  color: var(--text-color-Light);
  padding: 1rem;
  font-size: var(--font-p);
}

.controls {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  background-color: white;
  padding: 0.5rem var(--padding);
  border-radius: var(--border-radius);
}

.controls .icon {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 0.25rem;
}

.controls .filter-field {
  width: 150px;
  margin: 0 0.25rem;
  position: relative;
}

.controls .filter-field .mat-form-field-outline {
  display: none;
}

.controls .filter-field .mat-form-field-wrapper {
  padding-bottom: 0;
}

.controls .filter-field .mat-form-field-infix {
  border: none;
  background-color: white;
  padding: 0.5rem 1rem;
  position: relative;
  color: var(--text-color-Light);
}

.controls .filter-field .mat-form-field-infix::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--text-color-Light);
}

.controls .filter-field:last-child .mat-form-field-infix::after {
  display: none;
}

.controls .filter-field .mat-select {
  padding: 0.5rem 1rem;
  color: var(--text-color-Light);
  font-family: var(--font-body);
  font-size: var(--font-p);
  background-color: white;
}

::ng-deep .mat-select-panel {
  background-color: white !important;
}

::ng-deep .mat-option {
  background-color: white !important;
}

.mat-mdc-option {
  background-color: white !important;
  color: var(--text-color-Light);
}

.controls .reset-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--error-text);
  font-family: var(--font-body);
  font-size: var(--font-p);
  cursor: pointer;
  background-color: white;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.table-container {
  background-color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: var(--text-color-Light);
}

mat-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color-Light);
}

mat-header-row {
  background-color: var(--main-bg-color-Light);
}

mat-header-cell {
  background-color: var(--main-bg-color-Light);
  color: var(--button-text-color-Light);
  text-align: center;
  padding: 0.75rem;
  font-weight: bold;
  font-family: var(--font-heading);
  border-bottom: 2px solid #ffffff;
}

mat-cell {
  padding: 0.75rem;
  text-align: center;
  color: var(--text-color-Light);
  border-bottom: 1px solid #dee2e6;
}

mat-row {
  background-color: #ffffff;
}

mat-row.even-row {
  background-color: #f8f9fa;
}

.status-online {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--active-bg);
  color: var(--active-text);
  font-weight: 500;
}

.status-offline {
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--error-bg);
  color: var(--error-text);
  font-weight: 500;
}

.name-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 200px;
}

.name-container a {
  margin-left: 1rem;
}

.view-profile-link {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--button-bg-color-Light);
  color: var(--button-text-color-Light);
  border-radius: var(--border-radius);
  border: 1px var(--hover-border-Light) solid;
  transition: var(--transition);
}

.view-profile-link:hover {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
  background-color: var(--hover-bg-Light);
  color: var(--hover-text-Light);
  border: 1px var(--hover-border-Light) solid;
  border-radius: var(--border-radius);
}

.pagination-controls {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.showing-text {
  color: var(--text-color-Light);
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius);
  margin-right: 0.625rem;
}

.pagination-buttons {
  display: flex;
  gap: 0.5rem;
}

.pagination-btn {
  width: 2.25rem;
  height: 2.25rem;
  border: 1px solid var(--button-bg-color-Light);
  background-color: var(--button-bg-color-Light);
  color: var(--button-text-color-Light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-btn:first-of-type {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.pagination-btn:last-of-type {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.pagination-btn:hover:not(:disabled) {
  background-color: var(--hover-bg-Light);
  color: var(--hover-text-Light);
  border: 1px var(--hover-border-Light) solid;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn svg {
  width: 16px;
  height: 16px;
}

.custom-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  min-width: 300px;
  border-left: 5px solid #007bff;
}

.popup-content p {
  margin: 0;
  font-size: 18px;
  color: #333;
  padding: 10px;
}

.popup-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #dc3545, #007bff);
}

.popup-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.popup-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.yes-btn {
  background-color: #dc3545;
  color: white;
}

.yes-btn:hover {
  background-color: #c82333;
}

.no-btn {
  background-color: #6c757d;
  color: white;
}

.no-btn:hover {
  background-color: #5a6268;
}

