<div *ngIf="isLoading" class="loading">
  Loading providers...
</div>

<div *ngIf="errorMessage && !isLoading" class="error-message">
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading" class="controls">
  <div class="icon px-2">
   <svg class="m-3" width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill="var(--text-color-Light)" fill-rule="evenodd" clip-rule="evenodd" d="M10.4848 9.52295C15.4826 9.52295 19.5341 7.76827 19.5341 5.60376C19.5341 3.43925 15.4826 1.68457 10.4848 1.68457C5.48706 1.68457 1.43555 3.43925 1.43555 5.60376C1.43555 7.76827 5.48706 9.52295 10.4848 9.52295Z" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M1.43555 5.604C1.4379 9.53668 4.31846 12.953 8.39654 13.8596V19.3212C8.39654 20.4034 9.33151 21.2808 10.4848 21.2808C11.6382 21.2808 12.5731 20.4034 12.5731 19.3212V13.8596C16.6512 12.953 19.5318 9.53668 19.5341 5.604" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>

  <mat-form-field class="filter-field">
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="sortFilter" (ngModelChange)="onSortFilterChange($event)">
      <mat-option value="Name">Name</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-field">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="statusFilter" (ngModelChange)="onStatusFilterChange($event)">
      <mat-option value="Online">Online</mat-option>
      <mat-option value="Offline">Offline</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="filter-field">
    <mat-label>Specialization</mat-label>
    <mat-select [(ngModel)]="specializationFilter" (ngModelChange)="onSpecializationFilterChange($event)">
      <mat-option *ngFor="let spec of specializations" [value]="spec">{{ spec }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="reset-filter" (click)="resetFilters()">
    Reset Filter
    <svg width="25px" height="25px" viewBox="0 0 21 21" xmlns="http://www.w3.org/2000/svg">
      <g fill="none" fill-rule="evenodd" stroke="var(--error-text)" stroke-linecap="round" stroke-linejoin="round" transform="translate(2 2)">
        <path d="m12.5 1.5c2.4138473 1.37729434 4 4.02194088 4 7 0 4.418278-3.581722 8-8 8s-8-3.581722-8-8 3.581722-8 8-8"/>
        <path d="m12.5 5.5v-4h4"/>
      </g>
    </svg>
  </div>
</div>

<div *ngIf="!isLoading" class="table-container">
  <mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef > ID </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index"> {{ (pageIndex * pageSize) + i + 1 }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="name-container">
          {{ row.FirstName || 'Unknown' }} {{ row.LastName || '' }}
          <a [routerLink]="['/center-provider-profile', row.ProviderId || '']" class="view-profile-link">View Profile</a>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
      <mat-header-cell *matHeaderCellDef > Mobile </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.PhoneNumber || 'N/A' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="specialization">
      <mat-header-cell *matHeaderCellDef > Specialization </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{ row.Specialization || 'N/A' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span [ngClass]="{
          'status-online': row.Status === 0,
          'status-offline': row.Status === 1
        }">
          {{ row.Status === 0 ? 'Online' : row.Status === 1 ? 'Offline' : row.Status === 2 ? 'OnHold' : 'N/A' }}
        </span>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'even-row': (row.index % 2 === 0)}"></mat-row>
  </mat-table>
</div>

<div *ngIf="!isLoading && dataSource.data.length === 0 && !errorMessage" class="no-data">
  No providers found.
</div>

<div *ngIf="!isLoading" class="pagination-controls">
  <div class="showing-text">
    Showing {{ getDisplayRange() }} of {{ totalItems }}
  </div>
  <div class="pagination-buttons d-flex">
    <button class="pagination-btn" (click)="previousPage()" [disabled]="pageIndex === 0" aria-label="Previous page">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--button-text-color-Light)" class="bi bi-chevron-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
      </svg>
    </button>
    <button class="pagination-btn" (click)="nextPage()" [disabled]="(pageIndex + 1) * pageSize >= totalItems" aria-label="Next page">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="var(--button-text-color-Light)" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </svg>
    </button>
  </div>
</div>
