<div class="container d-flex flex-column gap-3 pt-4 pb-4 pe-0 ps-0 m-0">
  <div class="settings-container">
    <form [formGroup]="personalForm">
      <div class="tab-content main-text-Color">
        <div class="tab-pane fade show active" id="security-tab">
          <div class="settings-card">
            <h5 class="mb-3 fw-bold">Change Password</h5>
            <div class="mb-3">
              <label for="Old Password" class="form-label">Old Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="OldPassword"
              />
            </div>
            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="NewPassword"
              />
            </div>
            <!-- <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="logoutAll" />
              <label class="form-check-label" for="logoutAll"
                >Logout from All Devices</label
              >
            </div> -->
            <div class="setting-btns d-flex justify-content-end gap-5 pt-4">
              <button
                type="button"
                class="btn Save-btn py-2 px-3"
                (click)="onSubmit()"
              >
                Save
              </button>
              <!-- <button
                type="button"
                class="btn Cancel-btn mt-3"
                (click)="onCancel()"
              >
                Cancel
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
