<app-nav-bar></app-nav-bar>
<div class="container doctors-page-container">
  <div class="d-flex justify-content-between my-4">
    <!-- Filters Sidebar -->
    <div class="filter-panel-container">
      <div class="filter-panel main-padding main-radius">
        <div class="title text-center w-100">
          <span class="d-flex align-items-center justify-content-center gap-2">
            <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
            <span class="mb-0">Filters</span>
          </span>
        </div>
        <!-- Title Filter -->
        <div class="mb-3">
          <label class="fw-bold fs-5 filter-label">Title</label>
          <div *ngFor="let title of titles">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="title.value"
                [checked]="selectedTitles.includes(title.value)"
                (change)="onTitleChange($event)"
              />
              <label class="form-check-label">{{ title.label }}</label>
            </div>
          </div>
        </div>
        <!-- Gender Filter -->
        <div class="mb-3">
          <label class="fw-bold fs-5 filter-label">Gender</label>
          <div *ngFor="let gender of genders">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                [value]="gender.value"
                [checked]="selectedGenders.includes(gender.value)"
                (change)="onGenderChange($event)"
              />
              <label class="form-check-label">{{ gender.label }}</label>
            </div>
          </div>
        </div>
        <!-- Rate Filter -->
        <div class="mb-3">
          <label class="fw-bold filter-label">Rate</label>
          <div class="mt-1">
            <label class="form-check-label">Min Rate</label>
            <input
              type="number"
              class="form-control"
              placeholder="Min Rate"
              [(ngModel)]="selectedMinRate"
              (input)="applyFilters()"
              [min]="minRateValue"
              [max]="maxRateValue"
            />
          </div>
          <div class="mt-1">
            <label class="form-check-label">Max Rate</label>
            <input
              type="number"
              class="form-control mt-1"
              placeholder="Max Rate"
              [(ngModel)]="selectedMaxRate"
              (input)="applyFilters()"
              [min]="minRateValue"
              [max]="maxRateValue"
            />
          </div>
        </div>
        <!-- Price Filter -->
        <div class="mb-3">
          <label class="fw-bold filter-label">Price</label>
          <div class="mt-1">
            <label class="form-check-label">Min Price</label>
            <input
              type="number"
              class="form-control"
              placeholder="Min Price"
              [(ngModel)]="selectedMinPrice"
              (input)="applyFilters()"
              [min]="minPriceValue"
              [max]="maxPriceValue"
            />
          </div>
          <div class="mt-1">
            <label class="form-check-label">Max Price</label>
            <input
              type="number"
              class="form-control mt-1"
              placeholder="Max Price"
              [(ngModel)]="selectedMaxPrice"
              (input)="applyFilters()"
              [min]="minPriceValue"
              [max]="maxPriceValue"
            />
          </div>
        </div>
        <!-- Date Filter -->
        <div class="mb-3">
          <label class="fw-bold filter-label">Available Date</label>
          <p-datepicker
            [iconDisplay]="'input'"
            [showIcon]="true"
            dateFormat="yy-mm-dd"
            [(ngModel)]="selectedAvailableDate"
            [showButtonBar]="true"
            [showTime]="false"
            [placeholder]="'Select Date'"
            (onSelect)="applyFilters()"
          ></p-datepicker>
        </div>
        <div class="mb-3">
          <button
            class="btn bg-white fw-bold reset-button"
            (click)="resetFilters()"
          >
            Reset Filters
          </button>
        </div>
      </div>
    </div>
    <!-- Doctor listings -->
    <div
      class="doctors-list-container d-flex flex-column justify-content-between bg-white p-5 main-radius"
    >
      <div class="doctors-list">
        <h1 class="main-text-Color fw-bold">Doctors</h1>
        <div class="search-container w-100">
          <div class="d-flex justify-content-between w-100 main-radius p-2">
            <!-- City Dropdown -->
            <div class="multi-select-container">
              <p-floatlabel class="w-full md:w-80" variant="on"
                ><p-multiselect
                  id="cities"
                  [(ngModel)]="selectedCities"
                  [options]="cities"
                  (onChange)="onCityChange($event.value)"
                  filter
                  class="w-full"
                /><label for="cities">City</label></p-floatlabel
              >
            </div>
            <!-- Specialization Dropdown -->
            <div class="multi-select-container ms-2">
              <p-floatlabel class="w-full md:w-80" variant="on"
                ><p-multiselect
                  id="Specialization"
                  [(ngModel)]="selectedSpecializations"
                  [options]="specializations"
                  (onChange)="onSpecializationChange($event.value)"
                  filter
                  class="w-full"
                /><label for="Specialization"
                  >Specialization</label
                ></p-floatlabel
              >
            </div>
            <!-- Search Input -->
            <div class="search-input-container">
              <input
                type="text"
                [(ngModel)]="searchText"
                class="search-input form-control ms-2 main-radius"
                placeholder="Search by Name"
                (input)="applyFilters()"
              />
            </div>
          </div>
        </div>
        @if(loading) {
        <div class="loader-container">
          <p-progressSpinner ariaLabel="loading" animationDuration=".5s">
          </p-progressSpinner>
        </div>
        } @else {
        <div class="row pt-4 row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
          @for (doc of doctors; track $index) {
          <div class="col">
            <div class="doctor-photo-card">
              <div class="doctor-photo-wrapper">
                @if(doc.Image && !hasImageLoadFailed(doc.id)){
                <img
                  [src]="`${fullImagePath}${doc.Image}`"
                  alt="Doctor Image"
                  class="doctor-photo-img"
                  (error)="onImageError($event, doc.id)"
                />
                } @else {
                <p-avatar
                  icon="pi pi-user"
                  class="mr-2"
                  size="xlarge"
                  shape="square"
                  class="w-100 h-100"
                />
                }
              </div>
              <div class="doctor-photo-card-body">
                <div class="doctor-name">{{ doc.FullName }}</div>
                <div class="doctor-stars">
                  <p-rating [ngModel]="doc.Rate" [readonly]="true"></p-rating>
                </div>
                <div class="doctor-detail">
                  <i class="fa fa-user-md detail-icon"></i>
                  {{ doc.Specialization }}
                </div>
                <div class="doctor-detail">
                  <i class="fa-regular fa-clock detail-icon"></i>
                  {{ doc.EstimatedDuration }} Minutes
                </div>
                <div class="doctor-detail">
                  <i class="fa-solid fa-location-dot detail-icon"></i>
                  {{ doc.City }}
                </div>
                <div class="doctor-detail">
                  <i class="fa-solid fa-money-bill detail-icon"></i>
                  {{ doc.Price }} EGP
                </div>
              </div>
              <button class="photo-book-button" (click)="goToDetails(doc.id)">
                Book now
              </button>
            </div>
          </div>
          } @empty{
          <div class="no-doctors-found-container">
            <div class="text-muted fs-5">No doctors found.</div>
          </div>
          }
        </div>
        }
      </div>
      @if(doctors.length > 0){
      <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
        <button
          class="btn main-btn-bg"
          (click)="previousPage()"
          [disabled]="!canGoPrevious"
        >
          Previous
        </button>
        <span class="current-page"
          >Page {{ currentPage }} of {{ totalPages }}</span
        >
        <button
          class="btn main-btn-bg"
          (click)="nextPage()"
          [disabled]="!canGoNext"
        >
          Next
        </button>
      </div>
      }
    </div>
  </div>
</div>
<app-client-footer></app-client-footer>
