<div class="reviews bg-white main-padding main-radius">
  <h3 class="text-center main-text-Color fw-bold">Reviews</h3>
  <p-carousel class="pcar" [value]="reviews" [numVisible]="2" [numScroll]="1">
    <ng-template let-review #item>
      <div class="review-container m-2 p-2 main-radius">
        <div class="review pb-1 pt-1">
          <h5 class="client-name main-text-Color fw-bolder">
            {{ review.ClientName }}
          </h5>
          <p-rating
            class="review-star pt-2 pb-2"
            [(ngModel)]="review.Rate"
            [readonly]="true"
          />
          <p class="review-description main-text-Color">{{ review.Review }}</p>
          <span class="main-text-Color">{{
            review.Date | date : "MMMM d, y"
          }}</span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
