<div class="reviews bg-white main-padding main-radius">
  <h3 class="text-center main-text-Color fw-bold">Reviews</h3>
  @if(loading) {
    <div class="loader-container">
      <p-progressSpinner
        ariaLabel="loading"
        animationDuration=".5s">
      </p-progressSpinner>
    </div>
  } @else if (reviews.length === 0) {
    <p class="text-center main-text-Color">No reviews available.</p>
  } @else {
  <p-carousel
    *ngIf="reviews.length > 0"
    class="pcar"
    [value]="reviews"
    [numVisible]="3"
    [numScroll]="1"
  >
    <ng-template let-review #item>
      <div class="review-container m-2 p-2 main-radius">
        <div class="review pb-1 pt-1">
          <h5 class="client-name main-text-Color fw-bolder">
            {{ review.ClientName }}
          </h5>
          <p-rating
            class="review-star pt-2 pb-2"
            [(ngModel)]="review.Rate"
            [readonly]="true"
          />
          <p class="review-description main-text-Color">{{ review.Review }}</p>
          <span class="main-text-Color">{{
            review.Date | date : "MMMM d, y"
          }}</span>
        </div>
      </div>
    </ng-template>
  </p-carousel>
  <div *ngIf="reviews.length === 0" class="text-center py-4">
    <p class="text-muted fs-5">No reviews found</p>
  </div>
</div>
