
<div
  class="appointment-card p-3 mb-3 rounded"
  [ngClass]="'bg-lightblue'"
>
  <div class="d-flex justify-content-center mb-4"> 
    <img [src]="fullImagePath" alt="Provider Image" width="100px" height= "100px" shape="circle"
      class="avatar"*ngIf="fullImagePath" />

  </div>
  <div class="d-flex flex-column flex-md-row align-items-start justify-content-between">
    <div class="flex-grow-1">
      <div class="text-center text-md-start mb-3">
        <div class="fw-bold NameHeader">{{ appointment.ProviderName }}</div>
      <label class="fw-bold pt-4">Rate:</label>
      <p-rating
        class="review-star pt-2 pb-4 ps-3"
        [(ngModel)]="appointment.Rate"
        [readonly]="true"
      />

      <div class="d-flex gap-3 py-4">
        <label class="fw-bold"> Specialization:</label>
        <span>{{ appointment.Specialization }}</span>
      </div>
      <div class="d-flex gap-3 py-4">
        <label class="fw-bold"> Appointment Date:</label>
        <span>{{ appointment.AppointmentDate }}</span>
      </div>
      <div class="d-flex gap-3 py-4">
        <label class="fw-bold"> Appointment Status:</label>
        <span>{{
          appointment.AppointmentStatus | AppointmentStatusEnumValue
        }}</span>
      </div>

      <div class="d-flex gap-3 py-4">
        <label class="fw-bold"> Client Type : </label>
        <span>{{ appointment.clientType | ClientTypeEnumValue }}</span>
      </div>

      <div class="d-flex gap-3 py-4">
        <label class="fw-bold"> Estimated Time : </label>
        <span>{{ appointment.EstimatedTime }}</span>
      </div>
    </div>
  </div>

  <div class="text-md-end text-center">
    Fees : <span class="fw-bold">{{ appointment.Fees }}</span>
  </div>

</div>
<div class="d-flex justify-content-center gap-3 mt-4">

   <a [routerLink]="['/client/client-profile']" class="btn btn-info btn-cust"  >Back</a>
<a
  [routerLink]="appointment.IsLive ? ['/client/client-live-queue', appointment.appointmentId] : null"
  [class.disabled]="!appointment.IsLive"
  class="btn btn-info btn-cust"
  (click)="!appointment.IsLive && $event.preventDefault()"
>
  Go to Live Queue
</a>
</div>
