<div class="col-lg-12 col-md-4 sidebar-container main-radius">
  <div class="sidebar p-2 d-flex flex-column gap-2">
    <div class="sidebar-header p-3 m-0">
      <div class="user-avatar">
        @if (fullImagePath && !hasImageLoadFailed('sidebar-client')) {
        <img
          [src]="fullImagePath"
          alt="User"
          class="rounded-circle"
          (error)="onImageError($event, 'sidebar-client')"
        />
        } @else {
        <p-avatar icon="pi pi-user" shape="circle" size="xlarge"></p-avatar>
        }
      </div>
      <p class="d-block mt-2">Patient Dashboard</p>
    </div>
    <div class="sidebar-menu p-0">
      <div class="sidebar-item">
        <a
          [routerLink]="['/client/client-profile']"
          [routerLinkActive]="['active-link']"
          class="sidebar-link"
        >
          <div class="sidebar-icon">
            <i class="fas fa-user"></i>
          </div>
          <span>Profile</span>
        </a>
      </div>
      <div class="sidebar-item">
        <a
          [routerLink]="['/client/client-upcoming-appointments']"
          [routerLinkActive]="['active-link']"
          class="sidebar-link"
        >
          <div class="sidebar-icon">
            <i class="fas fa-calendar-check"></i>
          </div>
          <span>Upcoming Appointments</span>
        </a>
      </div>
      <div class="sidebar-item">
        <a
          [routerLink]="['/client/appointments-history']"
          [routerLinkActive]="['active-link']"
          class="sidebar-link"
        >
          <div class="sidebar-icon">
            <i class="fas fa-calendar-alt"></i>
          </div>
          <span>Appointments History</span>
        </a>
      </div>
      <div class="sidebar-item">
        <a
          [routerLink]="['/client/client-wallet']"
          [routerLinkActive]="['active-link']"
          class="sidebar-link"
        >
          <div class="sidebar-icon">
            <i class="fas fa-wallet"></i>
          </div>
          <span>Wallet</span>
          <span class="badge bg-success ms-auto">$250</span>
        </a>
      </div>
      <div class="sidebar-item">
        <a
          [routerLink]="['/client/settings']"
          [routerLinkActive]="['active-link']"
          class="sidebar-link"
        >
          <div class="sidebar-icon">
            <i class="fa-solid fa-gear"></i>
          </div>
          <span>Settings</span>
        </a>
      </div>
    </div>
  </div>
</div>
