.active-link.item-link {
  color: var(--side-bar-text-color-Light);
  font-weight: bold;
  background-color: var(--button-bg-color-Light);
  border-radius: var(--border-radius);
}
.card{
  border: none !important;
}
