
<div class="card shadow-sm  text-center">
  <div class="card-body d-grid gap-2">
    <a [routerLink]="['/client/client-profile']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >My profile</a>
    <a [routerLink]="['/client/client-upcoming-appointments']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >Upcoming Appointments</a>
    <a [routerLink]="['/client/last-appointment']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >Last Appointment</a>
    <a [routerLink]="['/client/client-edit-profile']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >Edit Profile</a>
    <a [routerLink]="['/client/client-wallet']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >Wallet</a>
    <a [routerLink]="['/client/change-password']" [routerLinkActive]="['active-link']" class="p-button-sm w-100 mt-1 item-link py-3 main-text-Color" >Change Password</a>
  </div>
</div>

