.patients-queue .table {
  border-radius: 2rem;
}
.patients-queue .table thead tr,
.patients-queue .table tbody tr {
  text-align: center;
}
.patients-queue .table thead tr th {
  padding: 1rem 0;
  background-color: var(--main-bg-color-Light);
  color: var(--side-bar-text-color-Light);
}
.patients-queue .table tbody tr td {
  padding: 1rem 0;
  color: var(--text-color-Light);
  background-color: #f9f9fb;
}
.waiting-badge {
  border-radius: var(--border-radius);
  color: var(--waiting-text) !important;
  background-color: var(--waiting-bg) !important;
}
.completed-badge {
  border-radius: var(--border-radius);
  color: var(--active-text) !important;
  background-color: var(--active-bg) !important;
}
.inProgress-badge {
  border-radius: var(--border-radius);
  color: var(--error-text) !important;
  background-color: var(--error-bg) !important;
}
.notChecked-badge {
  border-radius: var(--border-radius);
  color: var(--alert-text) !important;
  background-color: var(--alert-bg) !important;
}
