<section class="patients-queue">
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="patient-no">Patient No.</th>
        <th scope="col" class="patient-name">Name</th>
        <th scope="col" class="patient-arrival-time">Arrival Time</th>
        <th scope="col" class="patient-date">Date</th>
        <th scope="col" class="patient-type">Type</th>
        <th scope="col" class="patient-status">Status</th>
      </tr>
    </thead>
    <tbody>
      @if(loading) {
      <div class="loader-container">
        <p-progressSpinner ariaLabel="loading" animationDuration=".5s">
        </p-progressSpinner>
      </div>
      }@else{ @for(entry of paginatedQueueEntries; track $index){
      <tr>
        <td class="patient-no">{{ entry.CurrentQueuePosition }}</td>
        <td class="patient-name">{{ entry.FullName }}</td>
        <td class="patient-arrival-time">
          @if (entry.ArrivalTime) {
          {{
            entry.ArrivalTime.toString() | TimeStringToDate | date : "hh:mm a"
          }}
          } @else { --:-- }
        </td>
        <td class="patient-date">
          {{ entry.AppointmentDate | date : "MMM d, y" }}
        </td>
        <td class="patient-type">
          {{ entry.ClientType | ClientTypeEnumValue }}
        </td>
        <td class="patient-status">
          <span
            class="p-2"
            [ngClass]="{
              'completed-badge':
                entry.Status == QueueAppointmentStatus.Completed,
              'inProgress-badge':
                entry.Status == QueueAppointmentStatus.InProgress,
              'waiting-badge': entry.Status == QueueAppointmentStatus.Waiting,
              'notChecked-badge':
                entry.Status == QueueAppointmentStatus.NotChecked
            }"
            >{{ entry.Status | QueueAppointmentStatusEnumValue }}</span
          >
        </td>
      </tr>
      }@empty {
      <tr>
        <td colspan="6" class="text-center py-4 text-muted">
          No Queue Entries Found
        </td>
      </tr>
      } }
    </tbody>
  </table>
  @if(paginatedQueueEntries.length > 0){
  <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
    <button
      class="btn main-btn-bg"
      (click)="previousPage()"
      [disabled]="!canGoPrevious"
    >
      Previous
    </button>
    <span class="current-page">Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      class="btn main-btn-bg"
      (click)="nextPage()"
      [disabled]="!canGoNext"
    >
      Next
    </button>
  </div>
  }
</section>
