.side-bar
  ul
  .sidebar-item.active-link
  .sidebar-link:not(:last-child)
  div
  svg
  path {
  fill: #012a4a !important;
}
.side-bar
  ul
  .sidebar-item.active-link
  .sidebar-link:last-child
  div
  svg
  path:first-child {
  fill: #012a4a !important;
}
.side-bar
  ul
  .sidebar-item.active-link
  .sidebar-link:last-child
  div
  svg
  path:not(:first-child) {
  fill: #edf1f2 !important;
}
.side-bar ul .sidebar-item.active-link .sidebar-link {
  color: var(--text-color-Light);
  font-weight: bold;
}
.side-bar ul .sidebar-item.active-link {
  background-color: var(--bg-color-Light);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.side-bar ul .sidebar-item:not(.active-link) .sidebar-link {
  color: #edf1f2 !important;
}
