<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/" data-i18n="brand_name">Dorak</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            routerLinkActive="active-link"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/doctors']"
            >Doctors</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/register']"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/certification']"
            >Certifications</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLinkActive="active-link"
            [routerLink]="['/contact']"
            >Contact</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        >

        <!-- Language Toggle Placeholder -->
        <button id="lang-toggle" class="btn btn-sm">
          <span class="lang-text" data-i18n="lang_switch">العربية</span>
        </button>
      </div>
    </div>
  </div>
</nav>
