
  <div class="header">
    <h2 class="provider-name">Dr {{ providerName }} Patients</h2>
    <div class="header-actions">
      <button class="add-btn" aria-label="Add Patient" (click)="addPatient()">
        <i class="bi bi-person-plus-fill"></i>
      </button>
      <button class="end-shift-btn" (click)="endShift()" aria-label="End Shift">
        End Shift
      </button>
    </div>
  </div>
  @if(loading) {
    <div class="loader-container">
      <p-progressSpinner ariaLabel="loading" animationDuration=".5s">
      </p-progressSpinner>
    </div>
    }@else{
  <div class="stats-container" role="region" aria-label="Queue Statistics">
    <button class="stat-button">Total: {{ stats.total }}</button>
    <button class="stat-button">Normal: {{ stats.normal }}</button>
    <button class="stat-button">Consultation: {{ stats.consultation }}</button>
    <button class="stat-button">Urgent: {{ stats.urgent }}</button>
    <button class="stat-button">Exist: {{ stats.exist }}</button>
    <button class="stat-button">Done: {{ stats.done }}</button>
  </div>

  <div class="queue-list" role="list">
    <div *ngFor="let queue of filteredLiveQueues; let i = index" class="queue-card" role="listitem">
      <div class="queue-number">{{ queue.CurrentQueuePosition }}</div>
      <div class="queue-details">
        <div class="client-name">{{ queue.ClientFullName }}</div>
        <div class="client-info">
          <span>Patient Type: {{ getClientTypeString(queue.ClientType) }}</span>
          <span>PhoneNumber: {{ queue.PhoneNumber }}</span>

          <span>Estimated Time: {{ formatTime(queue.EstimatedTime) }}</span>
          <span *ngIf="queue.ArrivalTime">Arrival Time: {{ formatTime(queue.ArrivalTime) }}</span>
           <div *ngIf="queue.Status === QueueAppointmentStatus.InProgress" class="additional-fees-input">
          <label for="additionalFees_{{ queue.LiveQueueId }}">Additional Fees:</label>
          <input
            id="additionalFees_{{ queue.LiveQueueId }}"
            type="number"
            step="0.01"
            [(ngModel)]="additionalFees[queue.LiveQueueId]"
          />
        </div>
        </div>
      </div>
      <div class="queue-status">
        <span [ngClass]="getStatusClass(queue.Status)" aria-live="polite">{{ getStatusString(queue.Status) }}</span>
        <select
          (change)="updateQueueStatus(queue, $event)"
          [attr.aria-label]="'Select status for ' + queue.ClientFullName"
        >
          <option
            *ngFor="let status of queue.AvailableStatuses"
            [value]="getStatusString(status)"
            [selected]="getStatusString(status) === getStatusString(queue.Status)"
          >
            {{ getStatusString(status) }}
          </option>
        </select>
      </div>
    </div>
  </div>
    }
  <div *ngIf="showPopup" #successPopup class="custom-popup">
    <div class="popup-content">
      <p>Shift ended successfully!</p>
    </div>
  </div>

